#malacara_conocenos {
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    color: cornsilk;
    background-color: rgb(26, 12, 22);
}

#conocenos_grid {
    display: grid;
    grid-template-areas: "texto_conocenos" "subtitulo_conocenos1" "subtitulo_conocenos2";
    margin: 30px;
  .texto_conocenos {
    grid-area: texto_conocenos;
    color: cornsilk;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 20 px;
    background-color: rgb(26, 12, 22);
  }

  .subtitulo_conocenos1 {
    grid-area: subtitulo_conocenos1;
  }

  .subtitulo_conocenos2 {
    grid-area: subtitulo_conocenos2;
  }
}

#seccion_fotos {
    display: grid;
    grid-template-areas: "foto1 foto2 foto3" "foto4 foto5 foto6";
    margin: 30px;
    gap: 10px;
  .foto1 {
    grid-area: foto1;
    height: 500px;
    width: 400px;
  }

  .foto2 {
    grid-area: foto2;
    height: 500px;
    width: 400px;
  }

  .foto3 {
    grid-area: foto3;
    height: 500px;
    width: 400px;
  }

  .foto4 {
    grid-area: foto4;
    height: 500px;
    width: 400px;
  }

  .foto5 {
    grid-area: foto5;
    height: 500px;
    width: 400px;
  }

  .foto6 {
    grid-area: foto6;
    height: 500px;
    width: 400px;
  }

  .titulo_galeria {
    display: flex;
    justify-content: center;
    margin: 30px;

      .estilo_galeria {
      font-size: 40px;
      font-weight: bold;
      }
    }
} 

#seccion_video {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;

    .titulo_galeria {
        display: flex;
        justify-content: center;
        margin: 30px;
    
          .estilo_galeria {
          font-size: 40px;
          font-weight: bold;
          }
        }
}
