@import 'index';
@import 'conocenos';
@import 'donde';
@import 'fechas';
@import 'carrito';
@import 'contacto';


*{
    margin:0;
    bottom: 0;
}

$colorfondo: rgb(26, 12, 22);

.color-encabezado {
    background-color: $colorfondo;
    font-size: 35px;
}

.cuerpo {
    background-color: $colorfondo;
    color: cornsilk;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 40px;

    .titulos {
    color: cornsilk;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 70px;
    background-color: $colorfondo;
    margin: 20px;
    }
}

.piedepagina {
    background-color: $colorfondo;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; 
    margin-right: 20px;
    margin-bottom: 20px;
    gap: 20px;  
    
    .logos {
    color: cornsilk;
    }
    
    .titulo_footer {
    font-size: 50px;
    margin: 0;
    }
}


.botones {
    height: 70px;
    width: 100px;
    background-color: rgb(65, 57, 57);
    font-family: 'Alumni Sans Pinstripe', sans-serif; 
    font-size: 40px;
    color: cornsilk;
    border-radius: 15px;   
}

.botones:hover {
    background-color: cornsilk;
    color: rgb(65, 57, 57);
}



 @media only screen and (max-width:768px) {}
    .cuerpo {
        font-size: 35px;
    }

    .foto1 {
        height: 350px;
        width: 290px;
    }

    .foto2 {
        height: 350px;
        width: 290px;
    }

    .foto3 {
        height: 350px;
        width: 290px;
    }

    .foto4 {
        height: 350px;
        width: 290px;
    }

    .foto5 {
        height: 350px;
        width: 290px;
    }

    .foto6 {
        height: 350px;
        width: 290px;
    }





 @media only screen and (max-width:578px) {

    #home {
        background-image: url(../imagenes/fondo.responsive.jpg);
        display: flex;
        flex-direction: column;
    }

    #malacara_home {
        font-size: 30px;
        padding-left: 7px;
        padding-top: 7px;
    }
    
    #subtitulo_home {
        font-size: 25px;
        font-weight: bold;
    }
    
    #texto_home {
        font-size: 25px;
        font-weight: bold;
        }

    
    .cuerpo {
        font-size: 25px;
        font-weight: bold;
    }

    .titulos {
        font-size: 30px;
    }

    .titulo_footer {
        font-size: 25px;
    }
    
    #dondeestamos_flex {
        margin: 7px;
        gap: 7px;
    }

    #mapa_iframe {
        width: 300px;
    }

    #seccion_fotos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        margin: 10px;
    }
    
    .foto1 {
        height: 250px;
        width: 200px;
    }

    .foto2 {
        height: 250px;
        width: 200px;
    }

    .foto3 {
        height: 250px;
        width: 200px;
    }

    .foto4 {
        height: 250px;
        width: 200px;
    }

    .foto5 {
        height: 250px;
        width: 200px;
    }

    .foto6 {
        height: 250px;
        width: 200px;
    }
    
    #seccion_video {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 10px;
    }

    .videos {
        height: 250px;
        width: 200px;
    }
    
    .titulo_galeria {
        margin: 10px;
        justify-content: flex-start;
    }
    
    .estilo_galeria {
        font-size: 20px;
    }
 }
    